name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install -y openjdk-17-jdk python3-pip autoconf automake libtool

    - name: Install Buildozer
      run: |
        pip install buildozer

    - name: Build APK (Let Buildozer Handle Everything)
      run: |
        buildozer init
        buildozer -v android debug
